.features-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $primary-text-color;
    }
  
    .features-item-title{
    margin-bottom: 9px;
      
    }
  
    .features-section{
      padding-top: 94px;
      padding-bottom: 94px;
    }

    .features-list{
        display: flex; 
       }
       .features-item{
        width: 270px;
       }
      
       .features-item:not(:last-child){
        margin-right: 30px;
       }

       .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inherit(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

      
       

       