.footer-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-bottom: 9px;
color: $accent-color;
display: block; 
}

.footer-address-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #FFFFFF;
  }

.footer-address{
font-style: normal;
}
    
.footer-contacts{
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 20px;
color: rgba(255, 255, 255, 0.6);
}
        
.footer-cont{
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
        
.footer-item:not(:last-child){
margin-bottom: 2px;
}

.footer-formSection{
  margin-left: 92px;
  color: #FFFFFF;
}

.footer-form{
  display: flex;
}

.footer-input{
  width: 358px;
  height: 50px;

  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  padding: 16px ;
}

.footer-formSection{

font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-submit{
  padding: 10px 48px 10px 48px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  width: 200px;
  height: 50px;
  font-family: 'Roboto';
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 12px;
  cursor: pointer;
}

.footer-social-list{
  display: flex;
  margin-top: 20px;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  /* visibility: visible; */

}

.is-hidden{
  visibility: hidden;
}

.modal-close-btn-icon{
  fill: currentColor;
  }
  

  .checkbox-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }

  .checkbox-icon{
    fill: white;
  }
  
  .modal-checkbox:checked + .checkbox-text >.checkbox-icon-wrapper{
    background-color: $accent-color;
    border: none;
  }

  .footer-contacts-link{
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: $light-bg-color;
   background: $dark-bg-color; 
  }

  .find{  
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: white;
  }

  .footer-container{
  display: flex;
  align-items: baseline;
  }

  .footer-icon-sent{
  position: relative;
  left: 83.31%;
  right: 15.19%;
  margin-top: 30px;
  margin-left: -300px;
  color: white;
  fill: white;
  }

  .checkbox-icon-wrapper{
    width: 15px;
    height: 15px;
    border: 1px solid $primary-text-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
  }

  .footer-middle-part{
    margin-left: 70px;
  }

  .input-wrapper{
    display: block;
    position: relative;
  }

      