.hero-section{
    padding-bottom: 265px;
    padding-top: 212px;
    margin: 0 auto;
  }

  .main-bg{
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../img/img-group.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }

  .main-bg{
    width: 100%;
    background-color: var(--dark-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    